.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
  }
  
  .loadingCircle {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #61dafb;
    border-radius: 50%;
  }